# .env.example file
APP_NAME="DiktiScan-AI v1.0"
DEBUG_MODE=True

# Konfigurasi Ollama (LLM)
# Pastikan model sudah dipull: ollama pull llama3
OLLAMA_BASE_URL="http://127.0.0.1:11434"
OLLAMA_MODEL="llama3" 

# Konfigurasi OCR
TESSERACT_CMD="/usr/bin/tesseract"  # Sesuaikan path di Linux/Windows
OCR_LANG="ind+eng"

# Parameter Forensik
ELA_THRESHOLD=15.0
MIN_CONFIDENCE_SCORE=70